<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzed</title>
    <link rel="stylesheet" href="C://Users//Hardik//PycharmProjects//DjangoWeb//my_site//templates//first.css"/>
</head>
<body>
    <h1>
        your text is analyzed
    </h1>
    <div class="result">
        <h2>Final Text: {{analyzed_text}} </h2>
    </div>
    
</body>
</html>